*,*:before,*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url('./sky-7630197_1920.png');
    background-repeat: no-repeat;
    background-size: auto 1200px;
    background-position: center;
}

.container {
    max-width: 85%;
    margin:0 auto;
    background-color: rgba(0,0,0,0.8);
    border-radius: .5rem;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: rgb(65, 105, 158);
    padding: 1.25rem;
    justify-content: space-between;
}

.toggleUnit {
    padding: 0 .5rem;
}

main,section {
    margin: 3rem 0;
}

p {
    color: white;
    text-shadow: .02em .04em .03em rgba(0,0,0,1);
    margin: .5rem 0;
}

.searchbar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.5rem;

    margin:3rem;
}

.mainInfo {
    padding: 1.25rem 0;
}

.mainWeather {
    font-size: clamp(2rem,9vw,60px);
    text-transform: capitalize;
}

.mainTemperature {
    font-size: clamp(2.5rem,12vw,70px);
}

.mainDate,.mainTime,.location {
    font-size: 20px;
    font-size: clamp(1rem,3.5vw,25px);
}

.mainIcon {
    background-color: rgb(129, 217, 255);
    border-radius: 1rem;
}

.now {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem 1rem;
}

.now .col {
    flex-basis: 50%;
    font-size: 1.25rem;
}

@media (min-width: 770px){
    .mainInfo{
        max-width: 650px;
    }
}

@media (min-width: 1000px){
    body {
        background-size: cover;
    }
}

@media (min-width:900px) {
    .searchbar {
        flex-direction: row;
    }
    .now .col{
        flex-basis: 25%;
    }
}